---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/events.json?apikey=kW7Cb9udjrC7APKvqYA9mtaSe2KWRMGf&classificationName=Comedian&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Rate-Limit:
      - '5000'
      Rate-Limit-Available:
      - '4999'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1573268421650'
      X-Application-Context:
      - application:default,jash1,docker:8080
      X-Tm-Session-Bid:
      - 1d0ke6ifojd7jeqloutl5nnjrf
      X-Tm-Session-Sid:
      - o20AJP5S/XmwUsCoOAYAAAmU
      X-Tm-Unique-Id:
      - o2wAJP5S/XluPMCoOAYAAAmU
    body:
      encoding: ASCII-8BIT
      string: '{"_embedded":{"events":[{"name":"Comics Come Home: 25th Anniversary
        Show","type":"event","id":"vv1F7Z4w3o4oZd2uC","test":false,"url":"https://www.ticketmaster.com/comics-come-home-25th-anniversary-show-boston-massachusetts-11-09-2019/event/0100572491551ECD","locale":"en-us","images":[{"ratio":"16_9","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_TABLET_LANDSCAPE_16_9.jpg","width":1024,"height":576,"fallback":false},{"ratio":"3_2","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_RETINA_PORTRAIT_3_2.jpg","width":640,"height":427,"fallback":false},{"ratio":"4_3","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_CUSTOM.jpg","width":305,"height":225,"fallback":false},{"ratio":"16_9","url":"https://s1.ticketm.net/dbimages/366217a.jpg","width":205,"height":115,"fallback":false},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_RETINA_PORTRAIT_16_9.jpg","width":640,"height":360,"fallback":false},{"ratio":"3_2","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_ARTIST_PAGE_3_2.jpg","width":305,"height":203,"fallback":false},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_RECOMENDATION_16_9.jpg","width":100,"height":56,"fallback":false},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_TABLET_LANDSCAPE_LARGE_16_9.jpg","width":2048,"height":1152,"fallback":false},{"ratio":"3_2","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_TABLET_LANDSCAPE_3_2.jpg","width":1024,"height":683,"fallback":false},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_RETINA_LANDSCAPE_16_9.jpg","width":1136,"height":639,"fallback":false}],"sales":{"public":{"startDateTime":"2019-09-11T14:00:00Z","startTBD":false,"endDateTime":"2019-11-10T01:00:00Z"},"presales":[{"startDateTime":"2019-09-09T14:00:00Z","endDateTime":"2019-09-11T02:00:00Z","name":"Comics
        Presales"}]},"dates":{"start":{"localDate":"2019-11-09","localTime":"20:00:00","dateTime":"2019-11-10T01:00:00Z","dateTBD":false,"dateTBA":false,"timeTBA":false,"noSpecificTime":false},"timezone":"America/New_York","status":{"code":"onsale"},"spanMultipleDays":false},"classifications":[{"primary":true,"segment":{"id":"KZFzniwnSyZfZ7v7na","name":"Arts
        & Theatre"},"genre":{"id":"KnvZfZ7vAe1","name":"Comedy"},"subGenre":{"id":"KZazBEonSMnZfZ7vF17","name":"Comedy"},"type":{"id":"KZAyXgnZfZ7v7nI","name":"Undefined"},"subType":{"id":"KZFzBErXgnZfZ7v7lJ","name":"Undefined"},"family":false}],"promoter":{"id":"494","name":"PROMOTED
        BY VENUE","description":"PROMOTED BY VENUE / NTL / USA"},"promoters":[{"id":"494","name":"PROMOTED
        BY VENUE","description":"PROMOTED BY VENUE / NTL / USA"}],"pleaseNote":"Guests
        attending TD Garden events are advised that laptops, bags, backpacks, luggage,
        coolers, parcels, briefcases and like articles will be strictly prohibited
        from the facility. All guests may be subject to search of their person and/or
        possessions. Patrons with prohibited articles will be turned away and no storage
        or \"check-in area\" will be provided. Enforcement will be without exceptions.","priceRanges":[{"type":"standard","currency":"USD","min":50.5,"max":151.0}],"products":[{"id":"vv1AvZAj0GkeXsdpP","url":"https://www.ticketmaster.com/td-garden-event-parking-north-station-boston-massachusetts-11-09-2019/event/01005724BEC435A5","type":"Parking","name":"TD
        Garden Event Parking North Station Garage - Comics Come Home"}],"seatmap":{"staticUrl":"https://s1.ticketm.net/tmimages/venue/maps/ny2/92481s.gif"},"ticketLimit":{"info":"There
        is an overall 8 ticket limit for this event."},"_links":{"self":{"href":"/discovery/v2/events/vv1F7Z4w3o4oZd2uC?locale=en-us"},"attractions":[{"href":"/discovery/v2/attractions/K8vZ9171qBV?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ9171CY0?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ9175YiV?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ917CjDV?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ9171377?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ917uQNf?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ917udR7?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ917GPX0?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ917bhL0?locale=en-us"},{"href":"/discovery/v2/attractions/K8vZ917CfGV?locale=en-us"}],"venues":[{"href":"/discovery/v2/venues/KovZpa2gne?locale=en-us"}]},"_embedded":{"venues":[{"name":"TD
        Garden","type":"venue","id":"KovZpa2gne","test":false,"url":"https://www.ticketmaster.com/td-garden-tickets-boston/venue/8337","locale":"en-us","aliases":["td
        banknorth garden"],"images":[{"ratio":"3_1","url":"https://s1.ticketm.net/dam/v/cad/9939d503-eb4f-4213-bd17-284935ab3cad_517301_SOURCE.jpg","width":1500,"height":500,"fallback":false},{"ratio":"16_9","url":"https://s1.ticketm.net/dbimages/21608v.jpg","width":205,"height":115,"fallback":false}],"postalCode":"02114","timezone":"America/New_York","city":{"name":"Boston"},"state":{"name":"Massachusetts","stateCode":"MA"},"country":{"name":"United
        States Of America","countryCode":"US"},"address":{"line1":"100 Legends Way"},"location":{"longitude":"-71.060724","latitude":"42.365841"},"markets":[{"name":"Boston","id":"11"},{"name":"New
        England","id":"33"},{"name":"All of US","id":"51"},{"name":"Connecticut","id":"124"}],"dmas":[{"id":200},{"id":225},{"id":235},{"id":238},{"id":296},{"id":361},{"id":363},{"id":364},{"id":392}],"social":{"twitter":{"handle":"@tdgarden"}},"boxOfficeInfo":{"phoneNumberDetail":"General
        Info Number:(617) 624-1000 Group Sales (only!): (617) 624-1805/1806 Bruins
        (617) 624-BEAR (Groups = 25+) Celtics (617) 523-3030 (Groups = 20+) Please
        do not contact Group Sales regarding sold out games!","openHoursDetail":"Fall,
        Winter and Spring: Monday - Friday 10:00AM -6:00PM Saturday - Sunday: Closed
        unless there is an event. Box Office opens 3 hours prior to event start time.
        (closed Thanksgiving & Christmas) Summer: Monday - Thursday 10:00AM - 5:00PM
        Friday 10:00AM - 2:00PM Saturday - Sunday: Closed unless there is an event.
        Box Office opens 3 hours prior to event start time.","acceptedPaymentDetail":"Cash;
        Check up to $100.00 w/Mass. Driver License; AMEX; Visa; MC; Discover; Diners
        Club","willCallDetail":"Pick up tickets starting 2 hours prior to event time.
        Customer must present the actual credit card used to place order and a photo
        I.D."},"parkingDetail":"Park under The TD Garden in the new garage or in one
        of the several lots around the building.","accessibleSeatingDetail":"This
        is an accessible venue.","generalInfo":{"generalRule":"Alcohol Policy : To
        purchase alcoholic beverages, a patron must present a valid MA driver''s license,
        MA liquor ID, passport or military ID, which indicates the patron to be a
        least 21 years of age (MA ID cards, duplicate licenses, expired licenses,
        damaged licenses and driver''s licenses, which do not have photos, will not
        be accepted). Out of state licenses are acceptable only if the patron is at
        least 25 years of age and another form of identification (e.g., credit card)
        will be required if the patron is between 25 and 30 years of age. For out
        of country patrons, only a valid Passport will be accepted as proof of identification.
        No smoking is allowed in the building.","childRule":"Children under 2 free
        on adults lap for all events, Celtics, Bruins, family shows, and concerts.
        Some exceptions may apply."},"upcomingEvents":{"_total":101,"ticketmaster":101},"_links":{"self":{"href":"/discovery/v2/venues/KovZpa2gne?locale=en-us"}}}],"attractions":[{"name":"Comics
        Come Home","type":"attraction","id":"K8vZ9171qBV","test":false,"url":"https://www.ticketmaster.com/comics-come-home-tickets/artist/842651","locale":"en-us","images":[{"ratio":"16_9","url":"https://s1.ticketm.net/dam/a/368/a80c22dc-6a16-4167-855a-f9461a6a8368_1148561_TABLET_LANDSCAPE_16_9.jpg","width":1024,"height":576,"fallback":false},{"ratio":"3_2","url":"https://s1.ticketm.n[...]
